<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery">
      <pipelines>
          <renderVariantField>
              <processor patch:instead="*[@type='Sitecore.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonField, Sitecore.XA.Foundation.JsonVariants']" 
                         type="Sitecore.Support.XA.Foundation.JsonVariants.Pipelines.RenderVariantField.RenderJsonField, Sitecore.Support.334632" resolve="true" />
          </renderVariantField>
      </pipelines>
  </sitecore>
</configuration>